.ClosedCard{
    margin-top:100px;
    max-width: 550px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    font-family: sans-serif;
    font-weight: bolder;
    background-clip: padding-box;
    background-color: rgba(0,0,0,.2);
    text-align: initial;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 6px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  }

.OpenCard{
    max-width: 500px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: rgba(0,0,0,.2);
    text-align: initial;
    border-width: 1px 1px 1px 6px;
    box-shadow: 3px 3px #c7c5c5;;
    margin-left: auto;
    margin-right: auto;
    position: relative; top: 7em; 
    height: 160px;
}

#title,#description{
    width:400px;
    margin: 10px;
}

#closeText{
    padding: 1px;
}
.title{
    display: flex;
}
.pinned{
    margin-top: 10px;
    margin-left: 10px;
    fill: grey;
}

.pinned:hover{
    fill:black;
}

.button{
    margin-right: 30px;
    font-size: 2px;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    color: rgba(0,0,0,0.87);
    line-height: 1.25rem;
    border-radius: 4px;
    white-space: nowrap;
    border: none;
    background-color: transparent; 
    cursor: pointer;
    outline: none;
}

#button{
    display: flex;
    flex-direction: row;
    position: relative; left: 17em; bottom: 3em;
    justify-content: flex-end;
    width:40%;
    border: none;
}

#inputField{
    margin-top: 10px;
}
