 .iconBar{
     position: relative; left: 15em;
 }

 .spanTitle{
    font-weight: 500;
    font-size: .875rem;
    padding-bottom: 4px;
    padding-top: 4px;
}

.label{
    color: #5f6368;
    font-weight: 900;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    padding: 15px 24px 10px;
}