.forgotCard{
    width: 300px;
    border: 1px solid lightgray;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    position: relative; top: 100px;
    padding: 30px;
}

.forgotTitle{
    width: 100px;
    height: 40px;
    margin-left: 35%;
  }

.forgotText{
    text-align: center;
    font-size: small;
}
.forgotHead{
    font-display: inherit;
    font-family: 'Segoe UI';
    font-size: 25px;
    color: #3f51b5;
    padding: 0;
    text-align: center;
}

#forgot-email{
    width:200px;
    height: 20px;
    
}

.email-position{
    position: relative; left: 35px;
}
.submitbutton{
    margin-top: 2%;
    position: relative; left: 35%;
}